h1 {
    background-color: lightgrey;
    padding: 12px 12px 12px 12px;
    text-indent: 15px;
}

.roomcol {
	width: 25%;
	height: 100vh;
	background-color: #585e65;
	float: left;
}

.messagecol {
	float: left;
	background-color: #d9dce2;
	width: 50%;
	height: 100vh;
}

.rooms-home {
    color: #cccccc;
    text-indent: 35px;
    font-size: 18px;
}

.messages-home {
    color: #3b3b3b;
    text-indent: 35px;
    font-size: 18px;
}

form {
	position: relative;
	padding: 20px 10px 10px 10px;
}

.signedinas {
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	color: goldenrod;
}